DOUBAO_MODEL=""
DOUBAO_API_SECRET=""

VLLM_URL = ""
VLLM_MODEL = ""
VLLM_API_SECRET = ""

DATA_PATH=""
CHROMA_PERSISTENT_PATH=""

# 嵌入模型的路径
EMBEDDING_MODEL_PATH=""
# 如何获取嵌入模型？使用huggingface-cli下载
# -----------------------------------------------------------------bash---
# export HF_ENDPOINT=https://hf-mirror.com
# huggingface-cli download BAAI/bge-base-zh-v1.5 --local-dir <填入一些路径>
# ------------------------------------------------------------------------
# 然后在这里填上下载路径里面有config_sentence_transformers.json的文件夹的路径